<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet"
        href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Enchere.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/site">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      {% if app.user %}
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/site/new">Créer une annonce</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/site/tableau">Mes annonces</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      {% if not app.user %}
      <li class="nav-item">
        <a href="{{ path('security_login') }}" class="nav-link">
        Connexion </a>
       {% else %}
        </a>
        <li class="nav-item">
        <a href="{{ path('security_logout') }}" class="nav-link">
        Déconnexion
        </a>
        {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>
