{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section class="annonces">

{% for annonce in annonces %}
    <annonces>
        <h2>{{ annonce.title }}</h2>
        <p>{% for enchere in encheres %} {% if annonce.id == enchere.annonce.id %} Prix Immediat: {{enchere.prixImmediat}} Prix de Départ: {{enchere.prixDepart}} {% endif %} {% endfor %}</p>
        <div class="metadata">Mis en ligne le {{ annonce.createdAt | date ('d/m/Y') }} à{{ annonce.createdAt | date ('H:i') }} dans la catégorie véhicule</div>
        <div class="content">
        <img src="{{ annonce.image }}" alt="">
        <p> {{ annonce.content }}
        </p>
        <a href="{{ path('site_show', {'id': annonce.id})}}" class="btn btn-primary">Lire la suite</a>
        </div>
        </annonces>
        {% endfor %}

</section>
{% endblock %}
