{% extends 'base.html.twig'%}
{% block body %}

    <annonces>
        <h2>{{ annonce.title }}</h2>
        <div class="metadata">Mis en ligne le {{ annonce.createdAt | date ('d/m/Y') }} à{{ annonce.createdAt | date ('H:i') }} dans la catégorie véhicule</div>
        <div class="content">
        <img src="{{ annonce.image }}" alt="">
        <p> {{ annonce.content }}
        </p>
        </div>
        </annonces>

{% endblock %}